

// links text and hovers color
$link-color: #cf0d0d;
$link-hover-color: blue;

// header and footer backgrounds
$header-bg: #ededed url("../images/brand1/header.png") no-repeat top right;
$footer-bg: #f5f5f5;

// thin line bordering header and footer color
$header-footer-border: #cf0d0d;


// default button background and text colors

$btn-default-bg: linear-gradient(to bottom, #14d3b4 1%, #098e78 100%);
$btn-default-color: #fff;
