
.quantity-control {
	padding: 10px;
	border: 1px dotted lightgrey;
}

.quantity-control span:first-child {
	margin-top: 5px;
}

.section_promotions {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	color: #cf0d0d;
}

section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mr-pdp-reviews_content {
	background-color: #eee;
}

.mr-pdp-reviews_content-title {
	border-bottom: 1px solid #ccc;
	width: 100%;
}